@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.bottom {
    background-color: rgb(241, 243, 243);
    width: 100%;
    height: 40px;
    display: flex;
}

.left {
    background-color: rgb(39, 141, 189);
    width: 50%;
    height: 40px;
    display: flex;
    /* border-radius: 0px 0px 100px 0px; */
}

.right {
    position: relative;
    background-color: rgb(20, 18, 18);
    width: 50%;
    height: 40px;
    /* border-radius: 0px 0px 0px 50px; */


}

.phone {
    position: relative;
    right: 50px;
    top: 4px;
    left: 190px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.mail {
    position: relative;
    bottom: 4px;
    left: 230px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.fa-phone {
    position: relative;
    top: 8px;
    right: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

.fa-envelope {
    position: relative;
    top: 10px;
    right: 10px;
    left: 400px;
    font-size: 20px;
    color: white;
}

.login-register {
    position: absolute;
    top: 5px;
    left: 160px;
    font-size: 20px;
    color: white;
}

.fa-user {
    position: relative;
    top: 5px;
    right: 100px;
    left: 120px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: rgb(43, 146, 194);
}

.fa-facebook {
    position: relative;
    top: 5px;
    right: 100px;
    left: 320px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: rgb(43, 146, 194);
}

.fa-twitter {
    position: relative;
    top: 5px;
    right: 100px;
    left: 330px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: rgb(43, 146, 194);
}

.fa-youtube {
    position: relative;
    top: 5px;
    right: 100px;
    left: 340px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: rgb(43, 146, 194);
}

.fa-instagram {
    position: relative;
    top: 5px;
    right: 100px;
    left: 350px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    color: rgb(43, 146, 194);
}

.bottom1 {
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
}

.travelsy-0,
.travelsy-1 {
    position: relative;
    top: 30px;
    left: 100px;
    font-size: 40px;
}

.travelsy-0 {
    color: rgb(23, 143, 199);
}

.navigation {
    display: flex;
    padding: 25px;
    margin: 100px;
    position: relative;
    bottom: 80px;
    left: 80px;
    font-size: 20px;
}

.navigation li {
    list-style-type: none;
    margin: 0 15px;
}

.color {
    color: rgb(0, 110, 255);
}

.fa-magnifying-glass {
    /* height: 48px;
    width: 50px; */

    font-size: 30px;
    position: relative;
    right: 10px;
    top: 50px;
    bottom: 300px;
    /* border: 1px solid rgb(74, 171, 228); */
    color: rgb(0, 183, 255);
}

.btn {
    height: 50px;
    width: 180px;
    border-radius: 50% 50% 50% 50%;
    position: relative;
    bottom: 10px;
    color: white;
    text-align: center;
}

.fa-square-phone {
    position: relative;
    right: 90px;
    top: 48px;
    /* left: 220px; */
    font-size: 30px;
    color: white;
}

.para {
    position: relative;
    right: 20px;
    top: 2px;
    font-size: 20px;
}

.sub-title {
    position: relative;
    top: 100px;
}

.bottom2 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(/img/ojo4yq0-1-bg.png);
    /* background-color: aqua; */
}

.sub-title {
    position: absolute;
    top: 180px;
    bottom: 200px;
    left: 160px;
}

.sub-title-0 {
    position: absolute;
    top: 210px;
    left: 150px;
    font-size: 50px;
}

.middle {
    position: absolute;
    top: 213px;
    left: 340px;
    font-size: 50px;
    color: rgb(55, 145, 230);
}

.middle1 {
    position: absolute;
    top: 215px;
    left: 550px;
    font-size: 50px;
}

.middle2 {
    position: absolute;
    left: 55px;
    top: 235px;
}

.img1 {
    width: 15rem;
    height: 17rem;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 430px;
    left: 630px;
    background-size: 179.412% 100%;
    background-position: -10.120rem 0;
    background-image: url(/img/rectangle-14323.png);
    border-radius: 1rem;
}

.img2 {
    width: 15rem;
    height: 13rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 200px;
    left: 630px;

}

.img3 {
    width: 15.5rem;
    height: 25.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1rem;
    position: absolute;
    bottom: 250px;
    left: 890px;
}

.img4 {
    height: 150px;
    border: 30px solid rgb(31, 130, 211);
    border-radius: 50% 50%;
    position: absolute;
    bottom: 340px;
    left: 800px;
    background-color: white;
}

.rev {
    width: 230px;
    position: absolute;
    bottom: 300px;
    right: 840px;
}

.para1 {
    text-align: center;
    position: absolute;
    top: 12px;
    left: 40px;
}

.fa-calendar {
    position: absolute;
    top: 461px;
    left: 355px;
    color: white;
}

.bottom3 {
    display: flex;
}

.left1 {
    background-image: url(/img/HD-wallpaper-sky-blue-colour-blue-shadow-shadow-blue.jpg);
    /* background-color: rgb(39, 141, 189); */
    width: 40%;
    height: 100vh;
    display: flex;
    /* border-radius: 0px 0px 100px 0px; */
}

.right1 {
    /* position: relative; */
    background-color: rgb(253, 247, 247);
    width: 60%;
    height: 100vh;
    /* border-radius: 0px 0px 0px 50px; */
}

.bottom4 {
    /* background-color: rgb(230, 238, 238); */
    width: 80%;
    height: 12vh;
    border-radius: 10rem;
    position: relative;
    bottom: 600px;
    left: 100px;
    -webkit-box-shadow: -1px 1px 9px 5px rgba(252, 247, 247, 0.75);
    -moz-box-shadow: -1px 1px 9px 5px rgba(243, 237, 237, 0.75);
    box-shadow: -1px 1px 9px 5px rgba(228, 220, 220, 0.75);
}

.text1 {
    position: relative;
    top: 27px;
    left: 30px;
    padding: 15px;
    margin: 50px;
    border: 1px solid rgb(214, 198, 198);
    border-radius: 3rem;
    width: 350px;
}

.rev1 {
    width: 15%;
    position: absolute;
    right: 100px;
    top: 15px;

}

.al {
    position: absolute;
    left: 20px;
    top: 12px;
}

.ic1 {
    font-size: 25px;
    position: absolute;
    right: 135px;
    bottom: 25px;
    color: white;
}

.img5 {
    border-radius: 40%;
    margin-bottom: 1.2rem;
    width: 20rem;
    height: 30.7rem;
    position: absolute;
    top: 1150px;
    left: 100px;
    background-size: 125% 99.883%;
    background-position: -3rem -0rem;
    background-image: url(/img/rectangle-14305.png);
}

.img6 {
    width: 10.5rem;
    height: 15.5rem;
    background-size: 179.412% 100%;
    background-position: -7.120rem 0;
    background-image: url(/img/rectangle-14306-bg.png);
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 30rem;
    position: relative;
    top: 430px;
    left: 435px;
}

.img7 {
    width: 10.5rem;
    height: 12.5rem;
    background-size: 125% 99.883%;
    background-position: -4.120rem 0;
    background-image: url(/img/asset-1-1.png);
    background-position: -1.120rem 0;
    border: none;
    border-radius: 30rem;
    background-repeat: no-repeat;
    position: relative;
    top: 220px;
    left: 250px;
}

.text2 {
    position: absolute;
    top: 1150px;
    left: 650px;
    color: rgb(0, 153, 255);
}

.text3 {
    position: absolute;
    top: 1180px;
    left: 650px;
}

.text4 {
    position: absolute;
    top: 1240px;
    left: 650px;
    color: gray;
}

.text5 {
    position: absolute;
    top: 1370px;
    left: 650px;
    color: gray;
}

.text6 {
    position: absolute;
    top: 1450px;
    left: 680px;
    line-height: 35px;
}

/* .image4{
    background-image: url(/img/bxs-send-e1r.png);
    height: 3vh;
    width: 2%;
    background-repeat: no-repeat;
    position: absolute;
    top: 1493px;
    left: 620px;
    border: 0%;
    
}
.image5{
    background-image: url(/img/bxs-send-qFz.png);
    height: 3vh;
    width: 2%;
    background-repeat: no-repeat;
    position: absolute;
    top: 1455px;
    left: 620px;
    border: 0%;
    
}
.image6{
    background-image: url(/img/bxs-send-e1r.png);
    height: 3vh;
    width: 2%;
    background-repeat: no-repeat;
    position: absolute;
    top: 1493px;
    left: 620px;
    border: 0%;
    
} */
.icon1 {
    position: absolute;
    top: 1488px;
    left: 650px;
    font-size: 20px;
    color: rgb(0, 174, 255);
    rotate: 56deg;
}

.icon2 {
    position: absolute;
    top: 1453px;
    left: 650px;
    font-size: 20px;
    color: rgb(0, 174, 255);
    rotate: 56deg;
}

.icon3 {
    position: absolute;
    top: 1523px;
    left: 650px;
    font-size: 20px;
    color: rgb(0, 174, 255);
    rotate: 56deg;
}

.bu1 {
    position: absolute;
    top: 1580px;
    left: 650px;
    line-height: 35px;
}

/* 
.img8 {
    background-image: url(/img/material-symbols-arrow-right-alt-rounded-v2g.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 650px;
    line-height: 35px;
    
} */
.fa-arrow-right-long {
    position: absolute;
    top: 1594px;
    left: 790px;
    font-size: 25px;
    color: rgb(231, 223, 223);
}

.al1 {
    position: absolute;
    left: 23px;
    top: 10px;
}

.bottom5 {
    background-color: rgb(246, 250, 250);
    height: 120vh;
    width: 100%;
    position: relative;
}

.card-group {
    margin: 30px;
    width: 93%;
    height: 50vh;
    position: absolute;
    top: 150px;
    height: 90vh;
    /* transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

/* .card-group:hover,
.flip-card-back {
    transform: rotateY(180deg);
} */

/* .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
} */

.image1 {
    width: 100%;
    height: 17rem;
}

.image2 {
    width: 100%;
    height: 17rem;
}

.image3 {
    width: 100%;
    height: 17rem;
}

.card {
    width: 500px;
    height: 100vh;
    margin: 30px;
}

.text7 {
    position: absolute;
    top: 50px;
    left: 500px;
    font-size: 30px;
    color: rgb(0, 140, 255);
}

.text8 {
    position: absolute;
    top: 100px;
    left: 390px;
}

.card-text1 {
    position: absolute;
    left: 30px;
    font-weight: bold;
}

.fa-location-dot {
    position: absolute;
    left: 10px;
    bottom: 91px;
    color: rgb(0, 140, 255);
}

.card-text2 {
    position: absolute;
    left: 145px;
    bottom: 68px;
    font-weight: bold;
}

.fa-user-plus {
    position: absolute;
    left: 118px;
    bottom: 89px;
    color: rgb(0, 140, 255);
}

.text9 {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 40px;
}

.text10 {
    position: absolute;
    left: 120px;
    bottom: 5px;
}

.ic2 {
    background-color: rgb(0, 140, 255);
    font-size: 30px;
    position: absolute;
    left: 280px;
    bottom: 13px;
    padding: 10px;
    border: 1px solid rgb(0, 140, 255);
    color: white;
    border-radius: 3rem;
}

.bottom6 {
    background-image: url(/img/ojo4yq0-1-bg.png);
    height: 80vh;
    width: 100%;
    display: flex;
    position: relative;
}

.ic3 {
    font-size: 20px;
    position: absolute;
    left: 650px;
    bottom: 470px;
    color: rgb(0, 89, 255);
    background-color: rgb(249, 251, 253);
}

.fa-arrow-left {
    font-size: 20px;
    position: absolute;
    left: 610px;
    bottom: 470px;
    color: rgb(0, 89, 255);
}

/* .ic4{
    border: 1px solid black;
    border-radius: 50% 50%;
 } */
.ca1 {
    position: absolute;
    left: 130px;
    top: 190px;

}

.ca2 {
    position: absolute;
    left: 390px;
    bottom: 73px;

}

.ca3 {
    position: absolute;
    left: 650px;
    bottom: 335px;

}

.ca4 {
    position: absolute;
    left: 910px;
    bottom: 600px;
}

.im1 {
    width: 50%;
    position: absolute;
    left: 55px;
}

.ca5 {
    font-size: 50px;
    position: absolute;
    bottom: 30px;
    left: 43px;
    font-weight: bold;
}

.pa1 {
    position: absolute;
    top: 180px;
    left: 80px;
    font-size: 20px;
    color: gray;
}

.ca6 {
    font-size: 50px;
    position: absolute;
    bottom: 30px;
    left: 43px;
    font-weight: bold;
}

.pa2 {
    position: absolute;
    top: 180px;
    left: 40px;
    font-size: 20px;
    color: gray;
}

.ca7 {
    font-size: 50px;
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-weight: bold;
}

.pa3 {
    position: absolute;
    top: 180px;
    left: 50px;
    font-size: 20px;
    color: gray;
}

.bottom8 {
    width: 100%;
    height: 80vh;
    background-color: rgb(238, 243, 243);
    display: flex;
    position: relative;
}

.ca11 {
    position: absolute;
    top: 150px;
    left: 30px;
    margin: 20px;
}

.ca12 {
    position: absolute;
    top: 192px;
    margin: -22px;
}

.ca13 {
    position: absolute;
    top: 192px;
    margin: -22px;
}

.ca14 {
    position: absolute;
    top: 192px;
    margin: -22px;
}
.txt1{
    font-size: 20px;
    position: absolute;
    top: 65px;
    left: 500px;
    color: rgb(0, 102, 255);
}
.txt2{
    font-size: 40px;
    position: absolute;
    top: 100px;
    left: 350px;
}
.image7{
    height: 300px;
}
.head1{
    position: absolute;
    top: 400px;
    left: 130px;
    color: white;
}
.head2{
    position: absolute;
    top: 400px;
    left: 980px;
    color: white;
}
.head3{
    position: absolute;
    top: 400px;
    left: 680px;
    color: white;
}
.head4{
    position: absolute;
    top: 400px;
    left: 420px;
    color: white;
}