
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 155.2rem;
}.colors-XeL {
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 4.8rem 4.8rem 25.701rem 4.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .colors-CkU {
    color: #092c4c;
    white-space: nowrap;
    align-items: baseline;
    flex-shrink: 0;
    line-height: 1.0999999728;
    font-size: 5.6rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    margin-bottom: 6.4rem;

    .colors-CkU-sub-0 {
      font-size: 5.6rem;
      font-weight: 400;
      line-height: 1.0999999728;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
    }
    .colors-CkU-sub-1 {
      color: #2c2c2c;
      font-family: Inter, 'Source Sans Pro';
      font-size: 5.6rem;
      font-weight: 600;
      line-height: 1.0999999728;
    }
  }
  .brand-colors-X3z {
    margin-bottom: 9.099rem;
    display: flex;
    align-items: flex-start;
    border-radius: 2rem;
    flex-shrink: 0;

    .brand-colors-rc4 {
      flex-shrink: 0;
      margin-right: 11.9rem;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.1000000238;
      color: #828282;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .box-color-aHA {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 5rem;
      width: 20rem;
      height: 20rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
      background-color: #4691f2;
    }
    .box-color-HBa {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 5rem;
      width: 20rem;
      height: 20rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
      background-color: #191212;
    }
    .box-color-oQp {
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
      background-color: #000000;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 5rem;
      width: 20rem;
      height: 20rem;
    }
    .box-color-7wJ {
      flex-shrink: 0;
      width: 20rem;
      height: 20rem;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 2rem;
    }
  }
  .black-colors-NcL {
    flex-shrink: 0;
    margin: 0rem 48.2rem 6.4rem 0rem;
    box-sizing: border-box;
    padding-right: 41.6rem;
    width: calc(100% - 48.2rem);
    height: 16.7rem;
    display: flex;
    align-items: flex-start;

    .black-colors-HDW {
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.1000000238;
      color: #828282;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 12.5rem;
    }
    .black-oxY {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 16.6rem;
      overflow: hidden;
      position: relative;

      .black-1-Yv8 {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 4rem;
        position: relative;
        align-items: center;
        width: 10rem;

        .box-color-h2L {
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
          height: 10rem;
          background-color: #000000;
          border-radius: 1rem;
        }
        .caption-QSY {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0 1.45rem;
          width: calc(100% - 2.9rem);
          overflow: hidden;
          position: relative;

          .black-jji {
            flex-shrink: 0;
            line-height: 1.3999999762;
            color: #092c4c;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.4rem;
            text-align: center;
          }
          .item-000000-s5E {
            color: #828282;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
          }
        }
      }
      .auto-group-zgeq-zQk {
        width: 10.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .box-color-XvU {
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
          height: 10rem;
          box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.2399999946);
        }
        .caption-4fW {
          margin: 0 1.7rem;
          width: calc(100% - 3.4rem);
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .white-cS8 {
            line-height: 1.3999999762;
            color: #092c4c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 1.6rem;
            font-weight: 700;
          }
          .ffffff-kYL {
            font-weight: 400;
            line-height: 1.3999999762;
            color: #828282;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .gray-colors-UjE {
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 48rem;
    width: calc(100% - 48rem);
    height: 16.7rem;
    display: flex;

    .grey-colors-Dgp {
      color: #828282;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.7rem;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.1000000238;
    }
    .gray-ZVn {
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-9hal-ida {
        box-sizing: border-box;
        padding-right: 3.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .gray-1-foi {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.9rem;
          width: 10rem;
          overflow: hidden;
          position: relative;
          align-items: center;

          .box-color-oQ8 {
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 100%;
            height: 10rem;
            box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.3199999928);
            background-color: #333333;
            border-radius: 1rem;
          }
          .caption-X5E {
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0 1.4rem;
            width: calc(100% - 2.8rem);
            overflow: hidden;

            .gray-1-G2p {
              text-align: center;
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              margin-bottom: 0.4rem;
              font-weight: 700;
              line-height: 1.3999999762;
              color: #092c4c;
            }
            .item-333333-PNL {
              line-height: 1.3999999762;
              color: #828282;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
        .gray-2-7p8 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 10rem;
          overflow: hidden;
          position: relative;

          .box-color-g6Y {
            width: 100%;
            height: 10rem;
            box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.3199999928);
            background-color: #5b5b5b;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
          }
          .caption-ogx {
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0 1.45rem;
            width: calc(100% - 2.9rem);
            overflow: hidden;

            .gray-2-MCg {
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.3999999762;
              color: #092c4c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .b5b5b-H6L {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #828282;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .gray-3-Qgk {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 10.1rem;
        height: 100%;
        overflow: hidden;

        .box-color-N7n {
          height: 10.1rem;
          box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.3199999928);
          background-color: #6c6c6c;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
        }
        .caption-tbv {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0 1.6rem;
          width: calc(100% - 3.2rem);
          overflow: hidden;
          position: relative;

          .gray-3-Evg {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.3999999762;
            color: #092c4c;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-828282-P2t {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #828282;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .auto-group-syfn-WNQ {
        box-sizing: border-box;
        padding-left: 3.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .gray-4-ezQ {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.9rem;
          width: 10.1rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;

          .box-color-ocQ {
            margin-bottom: 1.6rem;
            width: 100%;
            height: 10rem;
            box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.3199999928);
            background-color: #c4c4c4;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .caption-8eg {
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0 1.25rem;
            width: calc(100% - 2.5rem);

            .gray-4-5pp {
              margin-bottom: 0.4rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.3999999762;
              color: #092c4c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .c4c4c4-pXW {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #828282;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .gray-5-MGY {
          flex-shrink: 0;
          width: 10.1rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;

          .box-color-Jha {
            width: 100%;
            height: 10rem;
            box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.3199999928);
            background-color: #e0e0e0;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
          }
          .caption-qSc {
            width: calc(100% - 3.2rem);
            overflow: hidden;
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0 1.6rem;

            .gray-5-aQC {
              font-weight: 700;
              line-height: 1.3999999762;
              color: #092c4c;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.6rem;
            }
            .e0e0e0-vU4 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #828282;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
}
